:root {
    --bg-color: #121214;
    --content-color: #202024;
    --color-gray-white: #e1e1e6;
    --color-gray-black: #515152;
    --color-green: #5eec3a;
    --color-profile-toggle-thumb: #df29c0 ;
    --color-profile-toggle-track: #e1e1e6 ;
    --color-buttons-carousel: #ffffff;
    --color-header-bg: #4ec730;
    --color-header-text: #202024;
    --color-header-hover-text: #e1e1e6;
}
