:root {
    --bg-color: #e9e9e9;
    --content-color: white;
    --color-gray-white: #555555;
    --color-gray-black: #2c2c2c;
    --color-green: #178fff;
    --color-profile-toggle-thumb: #555555 ;
    --color-profile-toggle-track: #2c2c2c ;
    --color-buttons-carousel: #000000;
    --color-header-bg: #178fff;
    --color-header-text: white;
    --color-header-hover-text: #2c2c2c;
}