@media only screen and (max-width: 600px) {
    .container {
        padding: 0;
    }
    .profile, 
    .about-me, 
    .container-project {
        padding: 10px;
        border-radius: 0px;
    }
    .profile .content-img {
        width: 110px;
        height: 110px;
        border-width: 4px;
    }
    .profile .social-midias {
        height: 60px;
    }
    header {
        border-radius: 0;
    }
    #nav-toggle {
        display: block;
    }
    header ul#nav-menu {
        display: none !important;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: var(--content-color);
        z-index: 50;
        transition: .5s;
    } 
    header ul#nav-menu.show-menu {
        display: block !important;
    }    
    header ul#nav-menu.show-menu button {
        display: block !important;
        width: 100%;
        margin: 0 auto;
        padding: 8px;
    } 
    header ul#nav-menu.show-menu button:nth-child(odd) {
        border-top: 1px dashed var(--color-header-bg);
        border-bottom: 1px dashed var(--color-header-bg);
    }
    header.scroll-header ul#nav-menu.show-menu button:nth-child(odd) {
        border-top: 1px dashed var(--color-header-text);
        border-bottom: 1px dashed var(--color-header-text);
    } 
 
    header.scroll-header ul#nav-menu {
        background-color: var(--color-header-bg);
        transition: .5s;
    }       
    header,
    .container, 
    .profile, 
    .about-me,
    .profile .content-img,
    .profile .social-midias {
        transition: 500ms;
    }
}

@media only screen and (max-width: 900px) {
    .header-container {
        display: block;
    }
    .profile {
        width: 100%;
        margin-bottom: 8px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .profile .content-img {
        margin-bottom: 0;
    }
    .about-me {
        width: 100%;
        min-height: unset;
    }
    .container-project {
        display: block;
        gap: 0px;    
        grid-template-columns: unset;
    }
    
    .container, 
    .profile,
    .profile, 
    .about-me,
    .profile .content-img,
    .profile .social-midias,
    .container-project {
        transition: 500ms;
    }
}